<form method="post" action="/signup">
    <label>Sign Up</label>
    <input type="text" id="user_signup_username" name="username" placeholder="username">
    <input type="text" id="user_signup_email" name="email" placeholder="email">
    <input type="password" id="user_signup_password" name="password" placeholder="password">
    <input type="submit" value="Sign Up">
</form>