<form method="post" action="/signup">
    <label>Sign Up</label>
    <input type="text" id="user_signup_username" name="user[username]" placeholder="username">
    <input type="text" id="user_signup_email" name="user[email]" placeholder="email">
    <input type="password" id="user_signup_password" name="user[password]" placeholder="password">
    <input type="submit" value="Sign Up">
</form>